/* Audiowide regular */

@font-face {
    font-family: "Audiowide";
    src: url("../../fonts/Audiowide-Regular.eot");
    src: url("../../fonts/Audiowide-Regular.eot?#iefix") format('embedded-opentype'),
         url("../../fonts/Audiowide-Regular.woff2") format('woff2'),
         url("../../fonts/Audiowide-Regular.woff") format('woff'),
         url("../../fonts/Audiowide-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}
