<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Getting Started: Darkhold classroom quiz experience</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/styles/error-styles.css" rel="stylesheet" />
    <script type="text/javascript" src="/scripts/common-scripts.js"></script>
</head>
<body>
    <div th:insert="~{navbar :: navbar}"></div>
    <form action="#" method="post">
        <div class="container">
            <div class="body-style">
                <div style="width:45%;float:left;margin-left:50px;">
                    <h1 style="font-weight:bold;font-size:34px;">Game Management</h1>
                    <div style="font-size:25px;text-align:left;">
                        Yet to implement
                    </div>
                    <div>
                        <br/>
                        <button class="button-style" onclick="toHome();">Visit Homepage</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript" src="/scripts/core/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="/scripts/core/popper.min.js"></script>
    <script type="text/javascript" src="/scripts/core/bootstrap.min.js"></script>
</body>
</html>