<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Darkhold classroom quiz experience</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="/scripts/view-challenges-scripts.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/styles/challenge-styles.css" />
    <link href="/styles/theme-variables.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
    <script type="text/javascript" src="/scripts/theme-manager.js"></script>
    <script type="text/javascript" src="/scripts/audio-manager.js"></script>
    <script type="text/javascript" src="/scripts/accessibility.js"></script>
    <script type="text/javascript" src="/scripts/common-scripts.js"></script>
</head>
<body>
    <div th:insert="~{navbar :: navbar}"></div>
    <section class="search-banner text-white form-arka-plan" id="search-banner">
        <form action="#" th:object="${challengeInfo}" method="post">
            <input type="hidden" th:name="challenges" id="challenges"/>
            <div class="container my-5">
                <div class="row text-center pb-4">
                    <div class="col-md-12">
                        <h2 class="text-white siyah-cerceve">Search for the challenges</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card acik-renk-form">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="form-group ">
                                            <input type="text" class="form-control" placeholder="aws, ec2, s3" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-warning  pl-5 pr-5">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <h4>Recent challenges</h4>
                <hr>
                <div th:each="ch: ${challengeInfo.challengeSummaryList}" th:id="${ch.challengeId}">
                    <div class="border-card">
                        <div class="card-type-icon with-border" onclick="selectQuiz(this);"><p th:text="${ch.challengeId}" /></div>
                        <div class="content-wrapper" onclick="selectQuiz(this);">
                            <div class="label-group fixed">
                                <p class="title" th:text="${ch.challengeName}" />
                            </div>
                        </div>
                        <a class="card-type-icon with-border" th:href="@{'/edit_challenge/' + ${ch.challengeId}}" title="Edit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5z"/>
                            </svg>
                        </a>
                        <a class="card-type-icon with-border" href="#" onclick="duplicateChallenge(this);" title="Duplicate">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3z"/>
                            </svg>
                        </a>
                        <a class="card-type-icon with-border" href="#confirmModal" data-bs-toggle="modal" data-bs-target="#confirmModal" onclick="markQuizForDeletion(this);">X</a>
                    </div>
                </div>
                <div id="confirmModal" class="modal fade" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-confirm">
                        <div class="modal-content">
                            <div class="modal-header flex-column">
                                <div class="icon-box">
                                    <i class="material-icons">&#xE5CD;</i>
                                </div>
                                <h4 class="modal-title w-100" id="confirmModalLabel">Are you sure?</h4>
                                <button type="button" id="closeConfirmModal" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Do you really want to delete this challenge? This process cannot be undone.</p>
                            </div>
                            <div class="modal-footer justify-content-center">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-danger" onclick="deleteQuiz();">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <script type="text/javascript" src="/scripts/core/jquery-3.7.0.min.js"></script>
    <script type="text/javascript" src="/scripts/core/popper.min.js"></script>
    <script type="text/javascript" src="/scripts/core/bootstrap-5.3.1/bootstrap.min.js"></script>
</body>
</html>