<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="darkhold create user page" />
        <meta name="author" content="Suraj" />
        <title>Getting Started: Darkhold classroom quiz experience</title>
        <link href="/styles/error-styles.css" rel="stylesheet" />
        <link href="/styles/core/fontawesome-6.2.1/css/all.min.css" rel="stylesheet">
        <script type="text/javascript" src="/scripts/common-scripts.js"></script>
        <script type="text/javascript" src="/scripts/user-management-scripts.js"></script>
        <script type="text/javascript" src="/scripts/core/bootstrap-5.3.1/bootstrap.min.js"></script>
    </head>
    <body>
        <main>
            <div th:insert="~{navbar :: navbar}"></div>
            <div class="container">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Create User</h3>
                    </div>
                </div>
                <form th:action="@{/users/save}" method="post" th:object="${userForm}" onsubmit="return checkEmailUnique(this);">
                    <div class="border border-secondary rounded p-3">
                        <div class="input-group mb-3">
                            <label class="col-sm-4 col-form-label">First Name : </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" th:field="*{firstName}" required minlength="8" maxlength="90" />
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <label class="col-sm-4 col-form-label">Last Name : </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" th:field="*{lastName}" required minlength="8" maxlength="90" />
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <label class="col-sm-4 col-form-label">E-mail : </label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control" th:field="*{email}" required minlength="8" maxlength="128" />
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <label class="col-sm-4 col-form-label">Password : </label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" th:field="*{password}" required minlength="8" maxlength="20" />
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <label class="col-sm-4 col-form-label">Roles : </label>
                            <div class="col-sm-8">
                                <th:block th:each="role : ${listRoles}">
                                    <div class="form-check">
                                        <input type="checkbox" th:field="*{roles}" th:text="${role.name}" th:value="${role.id}" class="form-check-input"/>
                                        - <small>[[${role.description}]]</small>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <label class="col-sm-4 col-form-label">Enabled : </label>
                            <div class="col-sm-8">
                                <input type="checkbox" th:field="*{enabled}" />
                            </div>
                        </div>
                        <div class="text-center">
                            <input type="submit" value="Save" class="btn btn-primary m-3" />
                            <input type="button" value="Cancel" id="cancelButton" onclick="toUsers()" class="btn border-secondary" />
                        </div>
                    </div>
                </form>
                <div class="modal fade text-center" id="modalDialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="modalTitle">Warning</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <span id="modalBody"></span>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <script type="text/javascript">
            /*<![CDATA[*/
            function toUsers() {
                window.location = "/userManagement";
            }

            function checkEmailUnique(form) {
                const email = form.email.value;
                const xhr = new XMLHttpRequest();
                xhr.open("POST", "/users/check_email", true);
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xhr.send("email=" + encodeURIComponent(email));
                xhr.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        // The request has been processed successfully
                        const response = this.responseText;
                        if (response == 'OK') {
                            form.submit();
                        } else if (response == 'DUPLICATED') {
                            showModelDialog("Warning", "Email already exists. Please use a different email : " + email);
                        } else {
                            showModelDialog("Error", "An error occurred while checking email uniqueness. Please try again later.");
                        }
                    }
                }
                return false;
            }

            function showModelDialog(title, body) {
                document.getElementById('modalTitle').innerText = title;
                document.getElementById('modalBody').innerText = body;
                const myModal = new bootstrap.Modal(document.getElementById('modalDialog'));
                myModal.show();
            }
            /*]]>*/
        </script>
    </body>
</html>