<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Getting Started: Darkhold classroom quiz experience</title>
    <link rel="shortcut icon" href="/images/favicon.png">
    <link href="/styles/error-styles.css" rel="stylesheet" />
    <link href="/styles/theme-variables.css" rel="stylesheet" />
    <link href="/styles/core/fontawesome-6.2.1/css/all.min.css" rel="stylesheet">
    <link href="/styles/icon-styles.css" rel="stylesheet">
    <script type="text/javascript" src="/scripts/theme-manager.js"></script>
    <script type="text/javascript" src="/scripts/audio-manager.js"></script>
    <script type="text/javascript" src="/scripts/accessibility.js"></script>
    <script type="text/javascript" src="/scripts/common-scripts.js"></script>
    <script type="text/javascript" src="/scripts/user-management-scripts.js"></script>
    <script type="text/javascript" src="/scripts/core/bootstrap-5.3.1/bootstrap.min.js"></script>
</head>
<body>
    <div th:insert="~{navbar :: navbar}"></div>
    <div>
        <h2>Manage Users</h2>
        <a th:href="@{/user/create}">Create New User</a>
    </div>
    <div th:if="${message != null}">
        <div class="alert alert-success text-center" role="alert">
            [[${message}]]
        </div>
    </div>
    <div>
        <form action="" method="post">
            <table class="table table-bordered table-striped table-hover table-responsive-xl">
                <thead class="thead-dark">
                    <tr>
                        <th>User ID</th>
                        <th>Photos</th>
                        <th>Email</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Roles</th>
                        <th>Enabled</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user: ${listusers}">
                        <td>[[${user.id}]]</td>
                        <td>
                            <span th:if="${user.photo == null}" class="fas fa-portrait fa-3x icon-silver"></span>
                            <img th:if="${user.photo != null}" th:src="@{${user.photosImagePath}}" style="width: 100px" />
                        </td>
                        <td>[[${user.email}]]</td>
                        <td>[[${user.firstName}]]</td>
                        <td>[[${user.lastName}]]</td>
                        <td>[[${user.roles}]]</td>
                        <td>
                            <a th:if="${user.enabled == true}" class="fas fa-check-circle fa-2x icon-green"
                               th:href="@{'/users/' + ${user.id} + '/enabled/false'}" title="Disable this user"></a>
                            <a th:if="${user.enabled == false}" class="fas fa-circle fa-2x icon-dark"
                               th:href="@{'/users/' + ${user.id} + '/enabled/true'}" title="Enable this user"></a>
                        </td>
                        <td>
                            <a class="fas fa-edit fa-2x icon-green" th:href="@{'/user/edit/' + ${user.id}}" title="Edit this user"></a>
                            &nbsp;
                            <a class="fas fa-trash fa-2x icon-dark" th:href="@{'/user/delete/' + ${user.id}}"
                               th:userId="${user.id}"
                               title="Delete this user"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center m-1">
                    <span th:if="${totalItems > 0}">
                        Showing users #[[${startCount}]] to [[${endCount}]] of [[${totalItems}]]
                    </span>
                <span th:unless="${totalItems > 0}">
                        No users found
                    </span>
            </div>
            <div>
                <nav>
                    <ul class="pagination justify-content-center">
                        <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'} " >
                            <a class="page-link" th:href="@{/user/page/1}">First</a>
                        </li>
                        <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'} " >
                            <a class="page-link" th:href="@{'/user/page/' + ${currentPage - 1 }}">Previous</a>
                        </li>
                        <li th:class="${currentPage != i ? 'page-item' : 'page-item active'} " th:each="i : ${#numbers.sequence(1, totalPages)}">
                            <a class="page-link" th:href="@{'/user/page/' + ${i}}">[[${i}]]</a>
                        </li>
                        <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}" >
                            <a class="page-link" th:href="@{'/user/page/' + ${currentPage + 1 }}">Next</a>
                        </li>
                        <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                            <a class="page-link" th:href="@{'/user/page/' + ${totalPages}}">Last</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </form>
        <div class="modal fade text-center" id="confirmModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="modalTitle">Delete Confirmation</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <span id="confirmText"></span>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-success" href="">Yes</a>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
    window.onload = function() {
        var deleteLinks = document.querySelectorAll('a[title="Delete this user"]');

        deleteLinks.forEach(function(link) {
            const userId = link.getAttribute('userId');
            link.addEventListener('click', function(event) {
                event.preventDefault();
                document.getElementById('confirmText').innerText = 'Are you sure you want to delete user ID ' + userId + '?';

                // Open the modal
                var myModal = new bootstrap.Modal(document.getElementById('confirmModal'));
                myModal.show();

                // Set the href of the confirmation button to the href of the delete link
                var confirmButton = document.querySelector('#confirmModal .btn-success');
                confirmButton.href = this.href;
            });
        });
    };
</script>
</body>
</html>