<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Getting Started: Darkhold classroom quiz experience</title>
    <link href="/styles/error-styles.css" rel="stylesheet" />
    <script type="text/javascript" src="/scripts/common-scripts.js"></script>
    <script type="text/javascript" src="/scripts/user-management-scripts.js"></script>
    <script type="text/javascript" src="/scripts/core/bootstrap-5.min.js"></script>
</head>
<body>
    <div th:insert="~{navbar :: navbar}"></div>
    <div>
        <h2>Manage Users</h2>
    </div>
    <div>
        <p>Darkhold</p>
    </div>
</body>
</html>