<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="darkhold create user page" />
        <meta name="author" content="Suraj" />
        <title>Getting Started: Darkhold classroom quiz experience</title>
        <link rel="shortcut icon" href="/images/favicon.png">
        <link href="/styles/error-styles.css" rel="stylesheet" />
        <link href="/styles/theme-variables.css" rel="stylesheet" />
        <link href="/styles/core/fontawesome-6.2.1/css/all.min.css" rel="stylesheet">
        <script type="text/javascript" src="/scripts/theme-manager.js"></script>
        <script type="text/javascript" src="/scripts/audio-manager.js"></script>
        <script type="text/javascript" src="/scripts/accessibility.js"></script>
        <script type="text/javascript" src="/scripts/common-scripts.js"></script>
        <script type="text/javascript" src="/scripts/user-management-scripts.js"></script>
        <script type="text/javascript" src="/scripts/core/bootstrap-5.3.1/bootstrap.min.js"></script>
    </head>
    <body>
        <main>
            <div th:insert="~{navbar :: navbar}"></div>
            <div class="container">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">[[${pageTitle}]]</h3>
                    </div>
                </div>
                <form th:action="@{/users/save}" method="post" th:object="${userForm}"
                      enctype="multipart/form-data"
                      onsubmit="return checkEmailUnique(this);">
                    <input type="hidden" th:field="*{id}" />
                    <div class="border border-secondary rounded p-3">
                        <div class="input-group mb-3">
                            <label class="col-sm-4 col-form-label">First Name : </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" th:field="*{firstName}" required minlength="8" maxlength="90" />
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <label class="col-sm-4 col-form-label">Last Name : </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" th:field="*{lastName}" required minlength="8" maxlength="90" />
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <label class="col-sm-4 col-form-label">E-mail : </label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control" th:field="*{email}" required minlength="8" maxlength="128" />
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <label class="col-sm-4 col-form-label">Password : </label>
                            <div class="col-sm-8">
                                <input type="password" th:if="${userForm.id == null}" class="form-control"
                                       th:field="*{password}" required minlength="8" maxlength="20" />
                                <input type="password" th:if="${userForm.id != null}" class="form-control"
                                       th:field="*{password}" minlength="8" maxlength="20" />
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <label class="col-sm-4 col-form-label">Roles : </label>
                            <div class="col-sm-8">
                                <th:block th:each="role : ${listRoles}">
                                    <div class="form-check">
                                        <input type="checkbox" th:field="*{roles}" th:text="${role.name}" th:value="${role.id}" class="form-check-input"/>
                                        - <small>[[${role.description}]]</small>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <label class="col-sm-4 col-form-label">Enabled : </label>
                            <div class="col-sm-8">
                                <input type="checkbox" th:field="*{enabled}" />
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <label class="col-sm-4 col-form-label">Photos : </label>
                            <div class="col-sm-8">
                                <input type="hidden" th:field="*{photo}" />
                                <input type="file" id="fileImage" name="image" accept="image/png, image/jpeg"
                                       onchange="changeThumbnail(this);" class="mb-2"/>
                                <img id="thumbnail" alt="Photos preview" th:src="@{${userForm.photosImagePath}}"
                                     class="img-fluid"/>
                            </div>
                        </div>
                        <div class="text-center">
                            <input type="submit" value="Save" class="btn btn-primary m-3" />
                            <input type="button" value="Cancel" id="cancelButton" onclick="toUsers()" class="btn border-secondary" />
                        </div>
                    </div>
                </form>
                <div class="modal fade text-center" id="modalDialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="modalTitle">Warning</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <span id="modalBody"></span>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <script type="text/javascript">
            /*<![CDATA[*/
            function toUsers() {
                window.location = "/userManagement";
            }

            function checkEmailUnique(form) {
                const email = form.email.value;
                const userId = form.id.value;
                const xhr = new XMLHttpRequest();
                xhr.open("POST", "/users/check_email", true);
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xhr.send("email=" + encodeURIComponent(email) + "&id=" + userId);
                xhr.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        // The request has been processed successfully
                        const response = this.responseText;
                        if (response == 'OK') {
                            form.submit();
                        } else if (response == 'DUPLICATED') {
                            showModelDialog("Warning", "Email already exists. Please use a different email : " + email);
                        } else {
                            showModelDialog("Error", "An error occurred while checking email uniqueness. Please try again later.");
                        }
                    }
                }
                return false;
            }

            function showModelDialog(title, body) {
                document.getElementById('modalTitle').innerText = title;
                document.getElementById('modalBody').innerText = body;
                const myModal = new bootstrap.Modal(document.getElementById('modalDialog'));
                myModal.show();
            }

            function changeThumbnail(input) {
                console.log("thumbnail changed");
                console.log("File changed : " + input.files[0].name);
                const fileSize = input.files[0].size;
                console.log("File size : " + fileSize);
                if (fileSize > 1048576) {
                    input.setCustomValidity("Please select a file with a size less than 1 MB.");
                    input.reportValidity();
                } else {
                    input.setCustomValidity("");
                    showImageThumbnail(input);
                }
            }

            function showImageThumbnail(fileInput) {
                const file = fileInput.files[0];
                const reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = (function (f) {
                    return function (e) {
                        let thumb = document.getElementById("thumbnail");
                        thumb.setAttribute("src", e.target.result);
                    };
                })(file);
            }
            /*]]>*/
        </script>
    </body>
</html>