<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Getting Started: Darkhold classroom quiz experience</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="styles/error-styles.css" rel="stylesheet" />
    <script type="text/javascript" src="scripts/sockjs.min.js"></script>
    <script type="text/javascript" src="scripts/stomp.min.js"></script>
    <script type="text/javascript" src="scripts/answer-scripts.js"></script>
</head>
<body onload="connect()">
    <form action="#" th:object="${currentStatus}" method="post">
        <div class="container">
            <div class="body-style">
                <div style="width:45%;float:left;margin-left:50px;">
                    <h1 style="font-weight:bold;font-size:34px;">[[${currentStatus.status}]] !!!!</h1>
                </div>
                <div>
                    <br/>
                    <button class="button-style" onclick="javascript:checkScore();">Next</button>
                </div>
            </div>
        </div>
    </form>

    <script type="text/javascript" src="scripts/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="scripts/popper.min.js"></script>
    <script type="text/javascript" src="scripts/bootstrap.min.js"></script>
</body>
</html>