<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Darkhold classroom quiz experience</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/styles/create-challenge-styles.css" rel="stylesheet" />
    <script type="text/javascript" src="/scripts/create-challenge-scripts.js"></script>
</head>
<body>
<nav class="navbar transparent navbar-inverse">
    <div class="container-fluid">
        <div class="icon-bar" onclick="toOptions()">
            <a class="active" href="#"><i class="fas fa-home"></i></a>
        </div>
        <span class="ml-auto mr-3 order-lg-last" th:text="${#authentication.getPrincipal().getUsername()}"></span>
        <button class="btn btn-lg btn-rised align-middle btn-primary ml-auto mr-3 order-lg-last" type="button" onclick="logOut()" >Logout</button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<form  method="POST" id="fileUploadForm" action="${contextPath}/exams/upload_pdf" enctype="multipart/form-data">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    <main class="my-form">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">Create Challenge</div>
                        <div class="card-body">
                            <form>
                                <div class="form-group row">
                                    <label for="title" class="col-md-4 col-form-label text-md-right">Challenge title</label>
                                    <div class="col-md-6">
                                        <input type="text" id="title" class="form-control" name="title">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="description" class="col-md-4 col-form-label text-md-right">Description</label>
                                    <div class="col-md-6">
                                        <textarea id="description" class="form-control" name="description" rows="4" cols="50" ></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="alert alert-info alert-dismissible">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        Please use the following format for Excel sheet creation
                                        <table>
                                            <thead>
                                            <tr>
                                                <th>Question - max 120 characters</th>
                                                <th>Answer 1 - max 75 characters</th>
                                                <th>Answer 2 - max 75 characters</th>
                                                <th>Answer 3 - max 75 characters</th>
                                                <th>Answer 4 - max 75 characters</th>
                                                <th>Correct answer(s) - choose at least one</th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="upload" class="col-md-4 col-form-label text-md-right">Upload questions as file</label>
                                    <div class="col-md-6">
                                        <input class="form-control" type="file" name="upload" id="upload" accept=".xlsx" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <p id="progressdiv"><progress max="100" value="0" id="progress" style="display: none;"></progress></p>
                                </div>

                                <div class="col-md-6 offset-md-4">
                                    <input class="btn btn-primary" value="Submit" type="button" id="btnSubmit" onclick="uploadPDF()"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</form>
<script type="text/javascript" src="/scripts/core/popper.min.js"></script>
<script type="text/javascript" src="/scripts/core/bootstrap-5.min.js"></script>
</body>
</html>