<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="darkhold 404 page" />
    <meta name="author" content="Suraj" />
    <title>Error occurred: Darkhold classroom quiz experience</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="manifest" href="/manifest.json">
    <link href="/styles/error-styles.css" rel="stylesheet" />
    <link href="/styles/theme-variables.css" rel="stylesheet" />
    <script type="text/javascript" src="/scripts/theme-manager.js"></script>
    <script type="text/javascript" src="/scripts/audio-manager.js"></script>
    <script type="text/javascript" src="/scripts/accessibility.js"></script>
    <script type="text/javascript" src="/scripts/common-scripts.js"></script>
    <script type="text/javascript" src="/scripts/core/bootstrap-5.3.1/bootstrap.min.js"></script>
</head>
<body>
    <div th:insert="~{navbar :: navbar}"></div>
    <form>
        <div class="container">
            <div class="body-style">
                <div style="width:40%;">
                    <img src="/images/404.png" style="float: right;" />
                </div>
                <div style="width:45%;float:left;margin-left:50px;">
                    <h1 style="font-weight:bold;font-size:34px;">Page Not Found</h1>
                    <div style="font-size:25px;text-align:left;">
                        We can't find the page you're looking for.You can either return to the previous page,visit our homepage or contact our support team.
                    </div>
                    <div>
                        <br/>
                        <button class="button-style" onclick="toHome();">Visit Homepage</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>