<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Getting Started: Darkhold classroom quiz experience</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/styles/darkhold-styles.css" rel="stylesheet" />
    <script type="text/javascript" src="/scripts/common-scripts.js"></script>
</head>
<body>
    <div th:insert="~{navbar :: navbar}"></div>
    <nav class="navbar transparent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <span class="badge badge-pill badge-primary">Final ScoreBoard</span>
            </li>
        </ul>
    </nav>
    <form action="#" th:object="${score}" method="post">
        <div id="wrapper">
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="container">
                        <table class="table table-striped">
                            <tbody>
                                <tr th:each="eachScore : ${score.score}">
                                    <td>[[${eachScore.key}]]</td>
                                    <td>[[${eachScore.value}]]</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript" src="/scripts/core/popper.min.js"></script>
    <script type="text/javascript" src="/scripts/core/bootstrap-5.min.js"></script>
</body>
</html>