<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Getting Started: Darkhold classroom quiz experience</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="styles/bootstrap.4.0.0.min.css" rel="stylesheet" />
    <link href="styles/font-awesome-all.5.11.2.min.css" rel="stylesheet" />
    <link href="styles/game-styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="styles/flipclock.css" />
    <link rel="stylesheet" href="styles/game-flipclock-custom.css" />
</head>
<body>
<form action="#" th:object="${challenge}" method="post">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    <input type="hidden" th:value="${challenge.QuestionSet.correctOptions}" id="correctOptions"/>
    <input type="hidden" id="selectedOptions"/>
    <div class="container">
        <div class="row pt-1 pb-1">
            <div class="col-lg-12">
                <h5 class="text-center">[[${challenge.questionNumber}]].[[${challenge.QuestionSet.question}]]</h5>
            </div>
        </div>
        <div class="box">
            <div class="container">
                <div class="row">
                    <div id="optionA" class="col-lg-6 col-md-6 col-sm-6 col-xs-12" onclick="waitAndShowAnswer(this)">
                        <div class="box-part text-center">
                            <i class="fab fa-instagram fa-3x" aria-hidden="true"></i>
                            <div class="title">
                                <h4>[[${challenge.QuestionSet.answer1}]]</h4>
                            </div>
                        </div>
                    </div>
                    <div id="optionB" class="col-lg-6 col-md-6 col-sm-6 col-xs-12" onclick="waitAndShowAnswer(this)">
                        <div class="box-part text-center">
                            <i class="fab fa-twitter fa-3x" aria-hidden="true"></i>
                            <div class="title">
                                <h4>[[${challenge.QuestionSet.answer2}]]</h4>
                            </div>
                        </div>
                    </div>
                    <div id="optionC"  th:if="${not #strings.isEmpty(challenge.QuestionSet.answer3)}"
                         class="col-lg-6 col-md-6 col-sm-6 col-xs-12" onclick="waitAndShowAnswer(this)">
                        <div class="box-part text-center">
                            <i class="fab fa-facebook fa-3x" aria-hidden="true"></i>
                            <div class="title">
                                <h4>[[${challenge.QuestionSet.answer3}]]</h4>
                            </div>
                        </div>
                    </div>
                    <div id="optionD" th:if="${not #strings.isEmpty(challenge.QuestionSet.answer4)}"
                         class="col-lg-6 col-md-6 col-sm-6 col-xs-12" onclick="waitAndShowAnswer(this)">
                        <div class="box-part text-center">
                            <i class="fab fa-pinterest-p fa-3x" aria-hidden="true"></i>
                            <div class="title">
                                <h4>[[${challenge.QuestionSet.answer4}]]</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clock2" style="margin:2em;"></div>
        <div class="message"></div>
    </div>
</form>
<script type="text/javascript" src="scripts/jquery-3.2.1.slim.min.js"></script>
<script type="text/javascript" src="scripts/popper.min.js"></script>
<script type="text/javascript" src="scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="scripts/flipclock.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var clock2;
        clock2 = new FlipClock($('.clock2'), 20, {
                clockFace: 'Counter'
        });

        var timer = new FlipClock.Timer(clock2, {
            callbacks: {
                interval: function() {
                    if (clock2.getTime().time <= 0) {
                        clock2.stop();
                        timer.stop();
                        callTimeOut();
                    }
                    clock2.decrement()
                }
            }
        });
        timer.start();

        $( "span.flip-clock-divider" ).remove();
    });

    function callTimeOut() {
        //alert(document.getElementById('selectedOptions').value);
        document.forms[0].action="/timed";
        document.forms[0].submit();
    }

    function waitAndShowAnswer(elem) {
        var correctAnswer = document.getElementById('correctOptions').value;
        console.log('correctAnswer '+correctAnswer);
        var selectedAnswer = elem.id.charAt(elem.id.length -1);
        console.log('selectedAnswer '+selectedAnswer);
        // split with comma
        var answers = correctAnswer.split(",");
        var correct = false;
        for (i = 0; i < answers.length; i++) {
            if ( selectedAnswer == answers[i] ) {
                correct = true;
            }
        }
        if (correct) {
            alert("Selected answer is correct");
            document.getElementById('selectedOptions').value = "correct";
        } else {
            alert("Selected answer is incorrect");
            document.getElementById('selectedOptions').value = "incorrect";
        }
    }
</script>
</body>
</html>