<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Getting Started: Darkhold classroom quiz experience</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="styles/game-styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="styles/core/flipclock.css" />
    <link rel="stylesheet" href="styles/game-flipclock-custom.css" />
</head>
<body>
<nav class="navbar transparent navbar-inverse">
    <div class="icon-bar" onclick="javascript:toHome()">
        <a class="active" href="#"><i class="fas fa-home"></i></a>
    </div>
    <span class="ml-auto mr-3 order-lg-last" th:text="${#authentication.getPrincipal().getUsername()}"></span>
    <span class="ml-auto mr-3 order-lg-last" th:text="${#authentication.getPrincipal().getAuthorities()}"></span>
    <button class="btn btn-lg btn-rised align-middle btn-primary ml-auto mr-3 order-lg-last" type="button" onclick="javascript:logOut()" >Logout</button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<form action="#" th:object="${challenge}" method="post">
    <div id="wrapper" class="toggled">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <div class="sidebar-nav">
                <div class="clock2" style="margin:2em;"></div>
                <div class="message"></div>
            </div>
        </div>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <input type="hidden" th:value="${challenge.QuestionSet.correctOptions}" id="correctOptions"/>
                <input type="hidden" th:name="selectedOptions" id="selectedOptions"/>
                <div class="col-lg-12">
                    <div class="non-semantic-protector">
                        <h5 class="ribbon">
                            <strong class="ribbon-content">[[${challenge.questionNumber}]].[[${challenge.QuestionSet.question}]]</strong>
                        </h5>
                    </div>
                </div>
                </div>
                <div class="box">
                    <div class="container">
                        <div class="row" id="answerSpace">
                            <div id="optionA" class="col-lg-6 col-md-6 col-sm-6 col-xs-12" onclick="waitAndShowAnswer(this)">
                                <div class="box-part text-center">
                                    <i class="fab fa-instagram fa-3x" aria-hidden="true"></i>
                                    <div class="title">
                                        <h4>[[${challenge.QuestionSet.answer1}]]</h4>
                                    </div>
                                </div>
                            </div>
                            <div id="optionB" class="col-lg-6 col-md-6 col-sm-6 col-xs-12" onclick="waitAndShowAnswer(this)">
                                <div class="box-part text-center">
                                    <i class="fab fa-twitter fa-3x" aria-hidden="true"></i>
                                    <div class="title">
                                        <h4>[[${challenge.QuestionSet.answer2}]]</h4>
                                    </div>
                                </div>
                            </div>
                            <div id="optionC"  th:if="${not #strings.isEmpty(challenge.QuestionSet.answer3)}"
                                 class="col-lg-6 col-md-6 col-sm-6 col-xs-12" onclick="waitAndShowAnswer(this)">
                                <div class="box-part text-center">
                                    <i class="fab fa-facebook fa-3x" aria-hidden="true"></i>
                                    <div class="title">
                                        <h4>[[${challenge.QuestionSet.answer3}]]</h4>
                                    </div>
                                </div>
                            </div>
                            <div id="optionD" th:if="${not #strings.isEmpty(challenge.QuestionSet.answer4)}"
                                 class="col-lg-6 col-md-6 col-sm-6 col-xs-12" onclick="waitAndShowAnswer(this)">
                                <div class="box-part text-center">
                                    <i class="fab fa-pinterest-p fa-3x" aria-hidden="true"></i>
                                    <div class="title">
                                        <h4>[[${challenge.QuestionSet.answer4}]]</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript" src="scripts/core/jquery-3.2.1.slim.min.js"></script>
<script type="text/javascript" src="scripts/core/popper.min.js"></script>
<script type="text/javascript" src="scripts/core/bootstrap.min.js"></script>
<script type="text/javascript" src="scripts/core/flipclock.js"></script>
<script type="text/javascript" src="scripts/game-scripts.js"></script>
</body>
</html>