<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Darkhold classroom quiz experience</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/styles/homepage.css" rel="stylesheet" />
    <script type="text/javascript" src="/scripts/home-scripts.js"></script>
</head>
<body onload="initialize_home();">
    <nav class="navbar transparent navbar-inverse">
        <button class="btn btn-lg btn-rised align-middle btn-primary ml-auto mr-3 order-lg-last" type="button" onclick="javascript:logMeIn()" >LogIn / SignUp</button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <form action="#" th:action="@{/joinGame}" th:object="${gameinfo}" method="post">
        <div class="container-fluid">
            <div class="row justify-content-center align-items-center d-flex text-center h-100">
                <div class="col-12 col-md-8  h-50">
                    <div class="jumbotron vertical-center min-vh-100 text-center m-0 d-flex flex-column justify-content-center">
                        <span th:if="${gameinfo != null && gameinfo.message != null}">
                            <div class="alert alert-success alert-dismissible" id="logMessage">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <p th:inline="text" >
                                    [[${gameinfo.message}]]
                                </p>
                            </div>
                        </span>
                        <h1 class="display-2  text-dark mb-2 mt-5" id="head_msg"><strong>Enter Quiz PIN</strong> </h1>
                        <div class="justify-content-center align-items-center d-flex text-center">
                            <input type="number" class="form-control lead text-dark mb-5" th:field="*{gamePin}" id="gamePin" name="gamePin" autofocus />
                            <input type="text" class="form-control lead text-dark mb-5" style="display:none" th:field="*{name}" id="username" name="username" />
                        </div>
                        <div id="messenger">
                            <p id="message_disp"></p>
                        </div>
                        <p><a class="btn bg-danger shadow-lg btn-round text-light btn-lg btn-rised" onclick="enterGame();">Submit</a></p>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript" src="/scripts/core/popper.min.js"></script>
    <script type="text/javascript" src="/scripts/core/bootstrap-5.min.js"></script>
</body>
</html>