<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Getting Started: Darkhold classroom quiz experience</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/styles/interstitial-styles.css" rel="stylesheet" />
    <script type="text/javascript">
        function loading() {
            setTimeout(function(){ askQuestion(); }, 5000);
        }
        function askQuestion() {
            document.forms[0].action="/question";
            document.forms[0].submit();
        }
    </script>
</head>
<body onload="loading()">
    <form action="#" method="post">
        <div class="container">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <a href="#" class="intro-banner-vdo-play-btn pinkBg">
                            <i class="glyphicon glyphicon-play whiteText" aria-hidden="true"></i>
                            <span class="ripple pinkBg"></span>
                            <span class="ripple pinkBg"></span>
                            <span class="ripple pinkBg"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript" src="/scripts/core/popper.min.js"></script>
    <script type="text/javascript" src="/scripts/core/bootstrap-5.min.js"></script>
</body>
</html>