<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Getting Started: Darkhold classroom quiz experience</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="styles/bootstrap.4.0.0.min.css" rel="stylesheet" />
    <link href="styles/interstitial-styles.css" rel="stylesheet" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="container">
            <div class="row">
                <a href="#" class="intro-banner-vdo-play-btn pinkBg" target="_blank">
                    <i class="glyphicon glyphicon-play whiteText" aria-hidden="true"></i>
                    <span class="ripple pinkBg"></span>
                    <span class="ripple pinkBg"></span>
                    <span class="ripple pinkBg"></span>
                </a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="scripts/jquery-3.2.1.slim.min.js"></script>
<script type="text/javascript" src="scripts/popper.min.js"></script>
<script type="text/javascript" src="scripts/bootstrap.min.js"></script>
</body>
</html>