<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Getting Started: Darkhold classroom quiz experience</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/styles/error-styles.css" rel="stylesheet" />
</head>
<body>
    <p th:text="'Hello, lets wait here for the my profile!'" />
    <script type="text/javascript" src="/scripts/core/popper.min.js"></script>
    <script type="text/javascript" src="/scripts/core/bootstrap-5.min.js"></script>
</body>
</html>