<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div th:fragment="navbar" >
    <nav class="navbar transparent navbar-inverse navbar-expand-lg">
        <div class="container-fluid" sec:authorize="isAuthenticated()">
            <div class="icon-bar" onclick="toHome();">
                <a class="active" href="#"><i class="fas fa-home"></i></a>
            </div>
            <div class="icon-bar" onclick="toActiveGames();" title="My Active Games">
                <a class="active" href="#"><i class="fas fa-gamepad"></i></a>
            </div>
            <div class="icon-bar" onclick="toPastGames();" title="Past Games">
                <a class="active" href="#"><i class="fas fa-chart-bar"></i></a>
            </div>
            <div class="mx-auto order-0">
                <span class="navbar-brand mx-auto" th:text="${#authentication.getPrincipal().getUsername()}"></span>
            </div>
            <div class="icon-bar" onclick="toOptions();">
                <a class="active" href="#"><i class="fas fa-cog"></i></a>
            </div>
            <div class="icon-bar" onclick="toggleTheme();" title="Toggle Dark/Light Mode" id="theme-toggle-btn" aria-label="Toggle theme">
                <a class="active" href="#"><i class="fas fa-moon" id="theme-icon"></i></a>
            </div>
            <div class="icon-bar" onclick="toggleSound();" title="Toggle Sound Effects" id="sound-toggle-btn" aria-label="Toggle sound">
                <a class="active" href="#"><i class="fas fa-volume-up" id="sound-icon"></i></a>
            </div>
            <button class="btn btn-lg btn-rised align-middle btn-primary ml-auto mr-3 order-lg-last" type="button" onclick="logOut();" >Logout</button>
        </div>
        <div class="navbar-nav ms-auto mb-2 mb-lg-0" sec:authorize="isAnonymous()">
            <button class="btn btn-lg btn-rised align-middle btn-primary ml-auto mr-3 order-lg-last" type="button" onclick="logMeIn()" >LogIn / SignUp</button>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</div>
</body>
</html>