<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Darkhold classroom quiz experience</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="styles/bootstrap.4.0.0.min.css" rel="stylesheet" />
    <link href="styles/option-styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script type="text/javascript">
        function createChallenge() {
            document.forms[0].action="/createChallenge";
            document.forms[0].submit();
        }

        function viewChallenge() {
            document.forms[0].action="/viewChallenge";
            document.forms[0].submit();
        }

        function logOut() {
            document.forms[0].action="/logout";
            document.forms[0].submit();
        }

        function toHome() {
            document.forms[0].action="/home";
            document.forms[0].submit();
        }
    </script>
</head>
<body>
<nav class="navbar transparent navbar-inverse">
    <div class="icon-bar" onclick="javascript:toHome()">
        <a class="active" href="#"><i class="fa fa-home"></i></a>
    </div>
    <span class="ml-auto mr-3 order-lg-last" th:text="${#authentication.getPrincipal().getUsername()}"></span>
    <button class="btn btn-lg btn-rised align-middle btn-primary ml-auto mr-3 order-lg-last" type="button" onclick="javascript:logOut()" >Logout</button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<form action="#" method="post">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center d-flex text-center h-100">
            <div class="col-12 col-md-8  h-50">
                <div class="jumbotron min-vh-100 text-center m-0 d-flex justify-content-center">
                    <div class="col-lg-6 mbr-col-md-10">
                        <div class="wrap" onclick="javascript:createChallenge()">
                            <div class="ico-wrap">
                                <span class="mbr-iconfont fa-calendar fa"></span>
                            </div>
                            <div class="text-wrap vcenter">
                                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Set up new <span>Challenge</span></h2>
                                <p class="mbr-fonts-style text1 mbr-text display-6">Create a new challenge</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mbr-col-md-10">
                        <div class="wrap" onclick="javascript:viewChallenge()">
                            <div class="ico-wrap">
                                <span class="mbr-iconfont fa-trophy fa"></span>
                            </div>
                            <div class="text-wrap vcenter">
                                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">View existing <span>Challenge</span></h2>
                                <p class="mbr-fonts-style text1 mbr-text display-6">See the existing challenges, edit them and start the challenges</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript" src="scripts/jquery-3.2.1.slim.min.js"></script>
<script type="text/javascript" src="scripts/popper.min.js"></script>
<script type="text/javascript" src="scripts/bootstrap.min.js"></script>
</body>
</html>