<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Home: Darkhold classroom quiz experience</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/styles/option-styles.css"  />
    <script type="text/javascript" src="/scripts/options-scripts.js"></script>
</head>
<body>
<nav class="navbar transparent navbar-inverse">
    <div class="container-fluid">
        <div class="icon-bar" onclick="toOptions();">
            <a class="active" href="#"><i class="fas fa-home"></i></a>
        </div>
        <span class="ml-auto mr-3 order-lg-last" th:text="${#authentication.getPrincipal().getUsername()}"></span>
        <button class="btn btn-lg btn-rised align-middle btn-primary ml-auto mr-3 order-lg-last" type="button" onclick="logOut();" >Logout</button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<form action="#" method="post">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-4 col-md-8 col-xs-12 pl-1 pr-1">
                <div class="card" style="cursor:pointer" onclick="createChallenge();">
                    <h3>Create a new challenge</h3>
                    <p> </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-xs-12 pl-1 pr-1">
                <div class="card" style="cursor:pointer" onclick="viewChallenge();">
                    <h3>View existing Challenge</h3>
                    <p>  </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-xs-12 pl-1 pr-1">
                <div class="card" style="cursor:pointer" onclick="activeChallenge();">
                    <h3>View active <br/>Challenge</h3>
                    <p>  </p>
                </div>
            </div>
        </div>         
    </div>
    <hr class="mt-2 mb-3"/>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-xs-12 pl-1 pr-1">
                <div class="card" style="cursor:pointer" onclick="manageUsers();">
                    <h3>User Management</h3>
                    <p> </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-8 col-xs-12 pl-1 pr-1">
                <div class="card" style="cursor:pointer" onclick="manageGame();">
                    <h3>Game Management</h3>
                    <p>  </p>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript" src="/scripts/core/popper.min.js"></script>
<script type="text/javascript" src="/scripts/core/bootstrap-5.min.js"></script>
</body>
</html>