<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Getting Started: Darkhold classroom quiz experience</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/styles/publish-styles.css" rel="stylesheet" />
    <script type="text/javascript" src="/scripts/core/sockjs.min.js"></script>
    <script type="text/javascript" src="/scripts/core/stomp.min.js"></script>
    <script type="text/javascript" src="/scripts/publish-scripts.js"></script>
</head>
<body onload="connect()">
<nav class="navbar transparent navbar-inverse">
    <div class="container-fluid">
        <div class="icon-bar" onclick="toOptions();">
            <a class="active" href="#"><i class="fas fa-home"></i></a>
        </div>
        <span class="ml-auto mr-3 order-lg-last" th:text="${#authentication.getPrincipal().getUsername()}"></span>
        <button class="btn btn-lg btn-rised align-middle btn-primary ml-auto mr-3 order-lg-last" type="button" onclick="javascript:logOut()" >Logout</button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<form action="#" th:object="${quizPin}" method="post">
    <input type="hidden" th:value="${quizPin}" id="quizPin"/>
    <input type="hidden" th:name="quiz_pin" id="quiz_pin"/>
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center d-flex text-center h-100">
            <div class="col-12 col-md-8  h-50">
                <div th:if="${quizPin != null}">
                    <div class="jumbotron min-vh-100 text-center m-0 d-flex flex-column justify-content-center">
                        <h1 class="display-2 text-dark mb-2 mt-5" id="head_msg">Your Quiz PIN is : <strong>[[${quizPin}]]</strong> </h1>
                        <div id="messenger">
                            <p id="message_disp"></p>
                        </div>
                        <p><a class="btn bg-danger shadow-lg btn-round text-light btn-lg btn-rised" onclick="startGame()">Start Game</a></p>
                    </div>
                </div>
                <div th:unless="${quizPin != null}">
                    <div class="jumbotron min-vh-100 text-center m-0 d-flex flex-column justify-content-center">
                        <h1 class="display-2 text-dark mb-2 mt-5" id="head_msg">There are no active challenges !!!</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${quizPin != null}">
        <div class="row">
            <div class="col-md-12">
                <table id="conversation" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Participants:</th>
                    </tr>
                    </thead>
                    <tbody id="players">
                        <tr>
                            <td>[[${user}]]</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript" src="/scripts/core/popper.min.js"></script>
<script type="text/javascript" src="/scripts/core/bootstrap-5.min.js"></script>
</body>
</html>