<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Getting Started: Darkhold classroom quiz experience</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="styles/bootstrap.4.0.0.min.css" rel="stylesheet" />
    <link href="styles/error-styles.css" rel="stylesheet" />
    <script type="text/javascript">
        function loading() {
            fetchQuestions();
            setTimeout(function(){ startGame(); }, 3000);
        }
        function startGame() {
            document.forms[0].action="/game";
            document.forms[0].submit();
        }
        function fetchQuestions() {
            var formData = new FormData();
            var name = document.getElementById('name').value;
            formData.append('user', name);
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/question_on_game', true);
            xhr.onload = function (e) {
                if (xhr.status === 200) {
                    console.log(xhr.responseText);
                    if(xhr.responseText == "END_GAME" ) {
                        // lets end the game
                        endGame();
                    }
                    var div_body = document.getElementById('div_body');
                    div_body.innerHTML = "";
                    var para = document.createElement("p");
                    var node = document.createTextNode(xhr.responseText);
                    para.appendChild(node);
                    div_body.appendChild(para);
                } else {
                    alert('An error occurred!');
                }
            };
            xhr.send(formData);
        }

        function endGame() {
            document.forms[0].action="/final";
            document.forms[0].submit();
        }
    </script>
</head>
<body onload="loading()">
    <input type="hidden" th:value="${#authentication.getPrincipal().getUsername()}" id="name"/>
    <form action="#" method="post">
        <div class="container">
            <div class="body-style" id="div_body">

            </div>
        </div>
    </form>

    <script type="text/javascript" src="scripts/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="scripts/popper.min.js"></script>
    <script type="text/javascript" src="scripts/bootstrap.min.js"></script>
</body>
</html>