<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Getting Started: Darkhold classroom quiz experience</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="styles/bootstrap.4.0.0.min.css" rel="stylesheet" />
    <link href="styles/error-styles.css" rel="stylesheet" />
    <script type="text/javascript">
        function askQuestion() {
            document.forms[0].action="/question";
            document.forms[0].submit();
        }
    </script>
</head>
<body>
<form action="#" method="post">
    <div class="container">
        <div class="body-style">
            <div style="width:45%;float:left;margin-left:50px;">
                <h1 style="font-weight:bold;font-size:34px;">Scores !!!!</h1>
            </div>
            <div>
                <br/>
                <button class="button-style" onclick="javascript:askQuestion();">Next Question</button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript" src="scripts/jquery-3.2.1.slim.min.js"></script>
<script type="text/javascript" src="scripts/popper.min.js"></script>
<script type="text/javascript" src="scripts/bootstrap.min.js"></script>
</body>
</html>