<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Getting Started: Darkhold classroom quiz experience</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/styles/homepage.css" rel="stylesheet" />
    <script type="text/javascript" src="/scripts/core/sockjs.min.js"></script>
    <script type="text/javascript" src="/scripts/core/stomp.min.js"></script>
    <script type="text/javascript" src="/scripts/scoreboard-scripts.js"></script>
</head>
<body onload="connect()">
    <nav class="navbar transparent navbar-inverse">
        <div class="container-fluid">
            <div class="icon-bar" onclick="toHome();">
                <a class="active" href="#"><i class="fas fa-home"></i></a>
            </div>
            <span class="ml-auto mr-3 order-lg-last" th:text="${#authentication.getPrincipal().getUsername()}"></span>
            <span class="ml-auto mr-3 order-lg-last" th:text="${#authentication.getPrincipal().getAuthorities()}"></span>
            <button class="btn btn-lg btn-rised align-middle btn-primary ml-auto mr-3 order-lg-last" type="button" onclick="logOut();" >Logout</button>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <nav class="navbar transparent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <span class="badge badge-pill badge-primary">ScoreBoard</span>
            </li>
        </ul>
        <span th:if="${not #sets.isEmpty(#authentication.getPrincipal().getAuthorities())}">
            <button id="nextButton" class="btn btn-lg btn-rised align-middle btn-primary ml-auto mr-3 order-lg-last" type="button"
                    onclick="askQuestion();" >Next</button>
        </span>
    </nav>
    <form action="#" th:object="${score}" method="post">
        <div id="wrapper">
            <div id="page-content-wrappCustomerDAOImpler">
                <div class="container-fluid">
                    <div class="row justify-content-center align-items-center d-flex text-center h-100">
                        <div class="col-12 col-md-8  h-50">
                            <div class="jumbotron vertical-center min-vh-100 text-center m-0 d-flex flex-column justify-content-center">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr th:each="eachScore : ${score.score}">
                                            <td>[[${eachScore.key}]]</td>
                                            <td>[[${eachScore.value}]]</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript" src="/scripts/core/popper.min.js"></script>
    <script type="text/javascript" src="/scripts/core/bootstrap-5.min.js"></script>
</body>
</html>