@import url('core/audiowide.css');
@import url('core/bootstrap-5.3.1/bootstrap.min.css');
@import url('core/font-awesome-all.5.15.4.min.css');
body {
    background-image: url("../images/funky-lines.png");
    font-family: 'Audiowide', cursive;
    font-weight: 400;
    font-size: 26px;
    text-decoration :none;
}
.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    font-size: 24px;
}
body::before {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
  z-index: 100;
}