@import url('darkhold-styles.css');

.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}

.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: var(--color-text-primary);
}
.login-form-2{
    padding: 5%;
    background: var(--color-primary);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    color: var(--color-text-inverse);
}
.login-container form{
    padding: 10%;
}
.btnSubmit{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: var(--color-btn-primary-text);
    background-color: var(--color-btn-primary-bg);
}
.login-form-2 .btnSubmit{
    font-weight: 600;
    color: var(--color-primary);
    background-color: var(--color-bg-primary);
}
.login-form-2 .ForgetPwd{
    color: var(--color-text-inverse);
    font-weight: 600;
    text-decoration: none;
}
.login-form-1 .ForgetPwd{
    color: var(--color-primary);
    font-weight: 600;
    text-decoration: none;
}