@import url('darkhold-styles.css');

.card{
    background: rgba(255, 255, 255, 0.37);
    flex: 0 0 23.55%;
    margin: 8px;
    padding: 30px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.01);
    transition: box-shadow 0.3s ease-in-out;
    border:1px solid #ddd;
    cursor: pointer;
    border-radius: 4px;
}
.card:hover{
    box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.3);
}
h3{
    text-align: center;
    font-size: 22px;
    color: #839192;
    font-weight: 600;
}

p{
    padding: 5px;
    text-align: center;
    font-size: 15px;
    color: #839192;
    line-height: 1.6;
    font-weight: 500;
    padding-top: 5px;
}
