@import url('darkhold-styles.css');

section{
    padding: 60px 0;
}

.checkout {
    background-color: #fff;
    border:1px solid #eaefe9;
    font-size: 14px;
}

.panel{
    margin-bottom: 0px;
}

.checkout-step {
    border-top: 1px solid #f2f2f2;
    color: #666;
    font-size: 14px;
    padding: 30px;
    position: relative;
}

.checkout-step-number {
    border-radius: 50%;
    border: 1px solid #666;
    display: inline-block;
    font-size: 12px;
    height: 32px;
    margin-right: 26px;
    padding: 6px;
    text-align: center;
    width: 32px;
}
.checkout-step-title {
    display: inline-block;
    margin: 0px;
}

p.title {
  color: #323232;
  font-weight: 500;
}
p.title_correct {
  color: #228524;
  font-weight: 500;
}

.checkout-step-body {
    padding-left: 60px;
    padding-top: 30px;
}
.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    font-size: 36px;
}